{% extends 'base.html' %}
{% load static %}

{% block head_css_section %}
<link rel="stylesheet" href= "{% static 'css/speciality.css' %}">
{% endblock head_css_section %}

{% block content %}


<div class="pr-section orientation" style="background-image:url('{% static 'images/boat.jpg' %}'); background-size: cover;" id="orientation">
	<div class="main-title">
		<h1><i class="far fa-compass"></i>  Orientations </h1>
	</div>
	<div class="container main-text">
		{% for text in sectiontext %}
			{% if text.nom_fr == "Orientations" %}
				{{ text.text_fr|escape|linebreaks  }}
			{% endif %}
		{% endfor %}
		
	</div>
	
	<ul class="nav nav-pills nav-fill" id="pills-tab" role="tablist">
		{% for orientation in orientations %}
			<li class="nav-item">
				{% if orientation.id == 1 %}
					<a class="nav-link active" id="orientation_{{ orientation.id }}" data-toggle="pill" href="#pills-{{ orientation.id }}" role="tab" aria-controls="pills-{{ orientation.id }}">
						{{ orientation.nom }}
					</a>
				{% else %}
					<a class="nav-link" id="orientation_{{ orientation.id }}" data-toggle="pill" href="#pills-{{ orientation.id }}" role="tab" aria-controls="pills-{{ orientation.id }}">
						{{ orientation.nom }}
					</a>
				{% endif %}
			</li>
		{% endfor%}	
	</ul>
	
	<div class="container col-md-8 tab-content" id="pills-tabContent">
		{% for orientation in orientations %}
			{% if orientation.id == 1 %}
				<div class="tab-pane active" id="pills-{{ orientation.id }}" role="tabpanel" aria-labelledby="orientation_{{ orientation.id }}">
					<p>{{ orientation.desc_fr|escape|linebreaks }}</p>
				</div>
			{% else %}
				<div class="tab-pane fade" id="pills-{{ orientation.id }}" role="tabpanel" aria-labelledby="orientation_{{ orientation.id }}">
					<p>{{ orientation.desc_fr|escape|linebreaks }}</p>
				</div>
			{% endif %}
		{% endfor%}	
	</div>
	
</div>

{% endblock content %}
